// VzhuruDolu.cz seznam polozek (napr. /prirucka)

.items-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    @include text-overflow;
    border-radius: $global-radius;
    border: 1px solid $vd-text-color-lightest;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 200ms;
  }
  a:hover,
  a:focus,
  a:active {
    color: darken($vd-green-color, 10%);
    border-color: darken($vd-green-color, 10%);
    text-decoration: none;
  }
}

.items-in-two-cols {
  @media (min-width: rem-calc(900)) {
    @include block-grid(2);
  }
  .items-list & {
    a {
      @media (min-width: rem-calc(900)) {
        margin-bottom: 0;
      }
    }
  }
}
