// VzhuruDolu.cz logo

.logo {
  margin: 0 0 1rem 0;
  text-align: center;
  @media print {
    display: none;
  }
}

.logo {
  a {
    @include heading-1;
    color: darken($vd-text-color-lighter, 20%);
    transition: 150ms;
    text-shadow: 1px 1px 1px white;
  }
  a:hover,
  a:focus,
  a:active {
    color: darken($vd-green-color, 20%);
    border-bottom: 0;
    text-decoration: none
  }

  .tagline {
    @extend .small;
    color: $vd-text-color-lightest;
    font-size: 0.8rem;
    position: relative;
    top: -0.5rem;
  }

}
